{
  "services" : [
     {{ range $index, $spec := getvs "/registry/services/specs/*/*" }}{{ if $index }}, {{ end }}{{ $spec }}
     {{ end }}
  ],
  "minions" : [
    {{ range $index, $spec := getvs "/registry/minions/*" }}{{ if $index }}, {{ end }}{{ $spec }}
    {{ end }}
  ],
  {{ if gt ( len ( ls "/certs" ) ) 0 }}
  "certs" : [
    {{ range $index, $content := getvs "/certs/*" }}{{ if $index }}, {{ end }}{{ $content }}
    {{ end }}
  ]
  {{ else }}
  "certs" : []
  {{ end }}
}
